<div class="card-radius-0 card">
    <div class="card-content">
        <div class="list-block">
            <ul>
                <li class="item-content">
                    <div class="item-media"><i class="fa fa-calendar-plus-o"></i></div>
                    <div class="item-inner item-colors-details">
                        <div class="item-title">
                            <b>
                                No appointments done found !!!
                            </b>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>