{{#if this}}
    <div class="content-block-title">BASIC INFO</div>

    <div class="card-radius-0 card">
        <div class="card-content">
            <div class="list-block">
                <ul>
                    <li class="item-content" id="sendFeedback">
                        <div class="item-media"><i class="fa fa-user"></i></div>
                        <div class="item-inner item-colors-details">
                            <div class="item-title">
                                <b>
                                    {{ name }}
                                </b>
                            </div>
                        </div>
                    </li>
                    <li class="item-content" id="sendFeedback">
                        <div class="item-media"><i class="fa fa-phone"></i></div>
                        <div class="item-inner item-colors-details">
                            <div class="item-title">
                                <b>
                                    {{ number }}
                                </b>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{{/if}}