{{#if this}}
    <div class="content-block">
        <div class="list-block login_block block-spacing">
            <ul id="blue_icons">
                <li class="item-content">
                    <div class="item-inner item-colors">
                        <div class="smaller-label item-title label"><i class="fa fa-user"
                                                                       style="font-size: 20px;"></i>
                        </div>
                        <div class="item-input">
                            <input type="text" name="Client name" id="edit_client_name"
                                   value="{{ name }}"
                                   placeholder="Client name">
                        </div>
                    </div>
                </li>

                <li class="item-content">
                    <div class="item-inner item-colors">
                        <div class="smaller-label item-title label"><i class="fa fa-phone"
                                                                       style="font-size: 20px;"></i>
                        </div>
                        <div class="item-input">
                            <input type="text" name="Client phone" id="edit_client_number"
                                   value="{{ number }}"
                                   placeholder="Client phone">
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="list-block">
            <ul>
                <li><a href="javascript:void(0)" id="btnEditClient"
                       class="button button-medium button-fill color-blue"
                       style="margin-top: 10px;">EDIT CLIENT</a></li>
            </ul>
        </div>

    </div>
{{/if}}